<%# This is the giant title header that is listed on the main page %>
<div class="center jumbotron">
  <h1>Brikd.WTF_</h1>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
  <%= link_to "Sign In", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
</div>

<div class="col-xs-12">
  <iframe src="https://discordapp.com/widget?id=241226071297490944&theme=dark" width= 100%  height= "400" allowtransparency="true" frameborder="0"></iframe>
</div>