<div class="container">
  <footer class="footer">
    <div class="well">
      <small>
        This all began thanks to the individuals of the discord server <a href="https://discord.gg/ZW6buAr">Brikd</a>
        by <a href="https://github.com/terminaltypist">TerminalTypist</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "Shit's Creek", root_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>